@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<Textanalyzer.Data.Entities.Text>

@{
    ViewData["Title"] = Localizer["Index"];
}

<h2>@Localizer["Index"]</h2>

<p>
    <a asp-action="Create">@Localizer["Create New"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TextID">@Localizer["Edit"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.TextID">@Localizer["Delete"]</a>

</td>
            </tr>
        }
    </tbody>
</table>
